.container {
  display: block;
  align-items: center;
  width: 300px;
  height: 580;
  background-color: ghostwhite;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

.description {
}

.avatar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  background-color: aqua;
}

.name {
  font-size: 30px;
  color: black;
  text-align: center;
}

.tag,
.location {
  font-size: 20px;
  color: gray;
  text-align: center;
}

.stats {
  display: flex;
  align-items: center;
  padding-inline-start: 0px;
  margin-top: 40px;
}

.stat {
  display: flex;
  align-items: center;
  flex-flow: column;
  width: 100px;
  padding: 10px;
  border: solid 1px;
}

.label {
  font-size: 16px;
  color: gray;
}
