.statistics {
  display: block;
  align-items: center;
  width: 300px;
  height: 580;
  background-color: ghostwhite;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-size: 30px;
  color: black;
  text-align: center;
  padding: 30px;
  border: white 1px;
  background-color: white;
  margin-bottom: 0;
}

.stat {
  display: flex;
  align-items: center;
  /* flex-flow: column; */
  padding-inline-start: 0px;
  margin-top: 0;
  list-style: none;
}

.item {
  display: flex;
  align-items: center;
  flex-flow: column;
  padding: 20px 0 20px 0;
  width: 75px;
  background-color: rgb(91, 115, 146);
  border: black 1px;
}

.label,
.percentage {
  font-size: 16px;
  color: white;
}
